// 728px
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
    .header {
        &__menu {
            display: none;
        }
        &__hamburger {
            display: block;
        }

    }
}
@media (max-width: 576px) {
    .container {
        max-width: 576px;
    }
    .header {
        &__h-menu {
            padding:  16px 0;
        }
        &__v-menu {
            padding: 70px 30px 0 24px;
            &--item {
                font-size: 14px;
                line-height: 20px;
                &:not(:last-child) {
                    padding-bottom: 24px;
                }
            }
            &--lang {
                padding: 0;
            }
        }
        &__menu-wrap {
            width: 192px;
        }
        &__logo {
            width: 97px;
            height: 24px;
        }
        &__language-bar {
            display: none;
        }
        &__divider {
            display: none;
        }
        &__button {
            padding: 8px 12px;
            font-size: 14px;
            line-height: 20px;
        }
        &__hamburger {
            margin-left: 16px;
        }
    }
}
