.faq {
    padding-top: 120px;
    &__content {
        display: flex;
        justify-content: space-between;
        padding: 0 120px;
        margin-bottom: 120px;
    }
    &__title {
        max-width: 222px;
    }
    &__acc-wrap {
        max-width: 808px;
    }
    &__inner {
        padding: 24px;
        border-top: 1px solid #D9D9D9;
        border-bottom: 1px solid #D9D9D9;

    }
    &__accordion {
        position: relative;
        background-color: #fff;
        cursor: pointer;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: all 0.4s;
        &:focus {
            outline: 0;
            border: 0;
        }
        &:after {
            content: url("./icons/action/plus.png");
            position: absolute;
            top: 0;
            right: 0;
            outline: 0;
            border: 0;
            color: #000;
            font-size: 24px;
            color: #777;
            float: right;
            margin-left: 5px;
          }
          &_active {
            &:after {
                content: url("./icons/action/minus.png");
            }
          }
      }
      &__panel {
        padding-top: 0;
        max-height: 0;
        overflow: hidden;
        transition: all 0.4s;
        p {
            

        }
      }
}